.bi-star, .bi-star-fill, .bi-star-half{
	color: rgb(155, 186, 110);
}

a {
	text-decoration: none;
	color:black;
}

a:hover {
	background-color: rbg(0, 0, 0);
	cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;

}

.grid-topic {
	display:inline;
	margin-right:10px;
}

.grid-item1 {
  grid-column-start: 1;
  grid-column-end: 3;
  padding-top:10px;
  padding-left:15px;
}

.grid-item2 {
	grid-column-start:3;
	text-align:right;
	padding-top:10px;
	padding-right:20px;
	padding-bottom:15px;
}

.grid-item2 form {
	display: inline;
}

.grid-item3 {
	grid-column-start: 1;
  	grid-column-end: 4;
	padding-left:10px;
	padding-bottom:5px;
}

.genrelist {
	list-style-type:none;
}



