<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>RateMovie - Genres</title>
</head>
<body>

	<a href="/addgenre"><button>Add New Genre</button></a>
	<table>
		<tr>
			<th>Genre</th>
			<th>Rename</th>
			<th>Delete</th>
		</tr>
		<tr th:each="genre : ${genres}">
			<td th:text=${genre.name}></td>
			<td><a th:href="@{/renamegenre/{id}(id=${genre.id})}"><button>Rename</button></a></td>
			<td><a th:href="@{/deletegenre/{id}(id=${genre.id})}"><button>Delete</button></a></td>
		</tr>
	</table>
	
</body>
</html>