<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.7.0/font/bootstrap-icons.css}" />
	<style>
		h1 {
			font-family:arial;
		}
		body {
			padding: 10px;
		}
	</style>
	<link th:rel="stylesheet" th:href="@{/css/style.css}" />
<title>Rate Movie</title>
</head>
<body>
	<a href="/">Back to index</a><br />
	<h1 style="display:inline" th:text=${movie.title}></h1>
	<span sec:authorize="hasAuthority('ADMIN')">
		<a th:href="@{/editmovie/{id}(id=${movie.movieId})}"><button style="margin-left:20px" class="btn btn-warning btn-sm">Edit</button></a>
		<a th:href="@{/deletemovie/{id}(id=${movie.movieId})}"><button style="margin-left: 10px;" class="btn btn-danger btn-sm">Delete</button></a>
	</span>
	<ul>
		<li th:text="'Year - ' + ${movie.year}"></li>
		<li th:text="'Length - ' + ${movie.getLengthInHoursAndMinutes} "></li>
		<li>Genres
			<ul>
				<li th:each="genre : ${movie.getMovieGenres()}">
				<span th:text=${genre.name}></span>
				</li>
			</ul>
		</li>
	</ul>
		
	<div sec:authorize="isAuthenticated()">
	<h2>Rate</h2>	
		<form th:object=${rate} th:action="@{/rate}" action="#" method="POST">
			<input type="hidden" th:field="*{movie}">
			<input type="hidden" th:field="*{user.username}">
			<input type="hidden" th:field="*{ratingId}" />
			<input type="range" min="1" max="5" th:field="*{points}" /> <br />
			<input type="text" placeholder="comment" maxlength="50" th:field="*{comment}" /> <br />
			<input type="submit" value="Rate" />
		</form>
	</div>
	<br />
	
	
	
	<h2>Ratings</h2>
	
	<ul class="list-group list-group-flush" th:each="rating : ${movie.ratings}">
	<li class="list-group-item list-group-item-dark" th:text="${rating.user.username}"></li>
	<li class="list-group-item" ><div th:switch="${rating.points}"><i th:each="i : ${#numbers.sequence(0, 4)}" th:class="${i} < ${rating.points} ? 'bi bi-star-fill' : 'bi bi-star'"></i>
		</div></li>
	<li class="list-group-item" th:text="'Comment: ' + ${rating.comment}"></li>
	</ul>
	


</body>
</html>