<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Rate Movie</title>
</head>
<body>
	<a href="/">Back to index</a>
	<h1 th:text=${movie.title}></h1>
	<ul>
		<li th:text="'Year - ' + ${movie.year}"></li>
		<li th:text="'Length - ' + ${movie.getLengthInHoursAndMinutes} "></li>
		<li>Genres
			<ul>
				<li th:each="genre : ${movie.getMovieGenres()}">
				<span th:text=${genre.name}></span>
				</li>
			</ul>
		</li>
	</ul>
		
	<h2>Rate</h2>
		
	<form th:object=${rate} th:action="@{/rate}" action="#" method="POST">
		<input type="hidden" th:field="*{movie}">
		<input type="hidden" th:field="*{user.username}">
		<input type="hidden" th:field="*{ratingId}" />
		<input type="range" min="1" max="5" th:field="*{points}" /> <br />
		<input type="text" placeholder="comment" maxlength="50" th:field="*{comment}" /> <br />
		<input type="submit" value="Rate" />
	</form>
	
	<h2>Ratings</h2>
	
	<table>
	<tr th:each="rating : ${movie.ratings}">
	<td th:text=${rating.user.username}></td>
	<td th:text=${rating.points}></td>
	<td th:text=${rating.comment}></td>
	</tr>
	</table>

</body>
</html>